# **Importacion de Librerias:**

In [11]:
from google.colab import drive
import pandas as pd
import numpy as np
import os # Necesario para listar archivos en una carpeta

# Monta tu Google Drive
drive.mount('/content/drive')

print("✅ ¡Google Drive montado con éxito!")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
✅ ¡Google Drive montado con éxito!

# **Cargo / Leo la tabla:**

In [13]:
# Ruta exacta de la carpeta en tu Drive
folder_path = '/content/drive/MyDrive/ColabNotebooks/Trimestres_anio_archivoTxt'

# Lista para almacenar los DataFrames de cada trimestre
all_dataframes = []

try:
    # Obtenemos la lista de archivos en la carpeta
    file_list = os.listdir(folder_path)
    total_files = len([f for f in file_list if f.endswith('.txt')])
    print(f"Archivos TXT encontrados en la carpeta: {total_files}")
    print("-" * 50)

    # Bucle para leer y cargar cada archivo
    for i, file_name in enumerate(file_list):
        if file_name.endswith('.txt'): # Aseguramos que solo leemos txt
            file_path = os.path.join(folder_path, file_name)

            # Intentamos cargar con el separador típico de EPH (punto y coma)
            try:
                temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')
                all_dataframes.append(temp_df)
                print(f"Cargado {i+1}/{total_files}: {file_name}")
            except Exception:
                # Si falla, intentamos con separador de coma
                try:
                    temp_df = pd.read_csv(file_path, sep=',', encoding='latin-1')
                    all_dataframes.append(temp_df)
                    print(f"Cargado {i+1}/{total_files}: {file_name} (Separador ,)")
                except Exception as e:
                    print(f"⚠️ Error al cargar {file_name}. Se saltará este archivo.")

    # Concatenamos todos los DataFrames cargados
    if all_dataframes:
        df_total = pd.concat(all_dataframes, ignore_index=True)
        print("\n" + "="*50)
        print("✅ ¡Bases de datos concatenadas con éxito!")
        print(f"Dimensiones de la base total (filas, columnas): {df_total.shape}")
        # Agregamos una variable PERIODO clave para el análisis de series de tiempo
        df_total['PERIODO'] = df_total['ANO4'].astype(str) + 'Q' + df_total['TRIMESTRE'].astype(str)
        print("Primeras filas de la base total:")
        display(df_total.head())
    else:
        print("❌ ERROR: No se pudo cargar ningún archivo CSV. Revisa la ruta y los archivos.")

except FileNotFoundError:
    print(f"❌ ERROR: La ruta {folder_path} no existe. Revisa que el nombre de la carpeta sea exacto.")

Archivos TXT encontrados en la carpeta: 37
--------------------------------------------------

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,136,137,143,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 1/37: usu_individual_t117.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,137,143,146) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 2/37: usu_individual_t118.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 3/37: usu_individual_T421.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 4/37: usu_individual_T422.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,136,143,145) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 5/37: usu_individual_T419.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (45,102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 6/37: usu_individual_T420.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,143) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 7/37: usu_individual_t418.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,136,137,143,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 8/37: Usu_Individual_T417.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,136,143,145) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 9/37: usu_individual_T217.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,137,143,146) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 10/37: usu_individual_T216.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 11/37: usu_individual_T125.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 12/37: usu_individual_T124.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 13/37: usu_individual_T123.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 14/37: usu_individual_T122.txt
Cargado 15/37: usu_individual_T121.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,143) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 16/37: usu_individual_T120.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,136,143,145) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 17/37: usu_individual_t119.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (73,94,102,132,141,158) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 18/37: usu_individual_T424.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 19/37: usu_individual_T423.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,137,143,146) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 20/37: usu_individual_t317.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,136,137,142,143,144,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 21/37: usu_individual_t316.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 22/37: usu_individual_T225.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 23/37: usu_individual_T224.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 24/37: usu_individual_T223.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 25/37: usu_individual_T222.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (45,102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 26/37: usu_individual_T221.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (44,45,102,105,134,143) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 27/37: usu_Individual_T220.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,136,137,143,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 28/37: usu_individual_T218.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,136,137,143,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 29/37: usu_individual_T219.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,136,137,143,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 30/37: usu_individual_t416.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 31/37: usu_individual_T324.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 32/37: usu_individual_T323.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 33/37: usu_individual_T322.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 34/37: usu_individual_T321.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (44,45,102,105,134,143) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 35/37: usu_individual_T320.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,136,137,143,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 36/37: Usu_individual_T319.txt

/tmp/ipython-input-545031691.py:21: DtypeWarning: Columns (102,105,134,136,137,143,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(file_path, sep=';', encoding='latin-1')

Cargado 37/37: usu_individual_T318.txt

==================================================
✅ ¡Bases de datos concatenadas con éxito!
Dimensiones de la base total (filas, columnas): (1914747, 240)
Primeras filas de la base total:

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF,Unnamed: 177,PERIODO
0,TQRMNOQURHKOMLCDEFIAH00469284,2017,1,1,4,1,43,S,2,861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017Q1
1,TQRMNOQURHKOMLCDEFIAH00469284,2017,1,1,5,1,43,S,2,861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017Q1
2,TQRMNOQURHKOMLCDEFIAH00469284,2017,1,1,6,1,43,S,2,861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017Q1
3,TQRMNOQURHKOMLCDEFIAH00469284,2017,1,1,7,1,43,S,2,861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017Q1
4,TQRMNOQURHKOMLCDEFIAH00469284,2017,1,1,8,0,43,S,2,861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017Q1

In [16]:
# Convertimos todos los nombres de columnas a minúsculas y eliminamos espacios
df_total.columns = df_total.columns.str.lower().str.strip()

print("✅ Nombres de columnas estandarizados a minúsculas y sin espacios.")
print("-" * 50)
print("Columnas clave disponibles:")
print(df_total.filter(items=['p21', 'pp3e_tot', 'estado', 'aglomerado', 'periodo']).columns.tolist())

✅ Nombres de columnas estandarizados a minúsculas y sin espacios.
--------------------------------------------------
Columnas clave disponibles:
['p21', 'pp3e_tot', 'estado', 'aglomerado', 'periodo']

In [17]:
# Aglomerados elegidos: 34 (Mar del Plata - Batán) y 12 (Corrientes)
AGLOMERADO_1 = 34
AGLOMERADO_2 = 12

# 1. Filtrar solo los aglomerados de interés
# Convertimos 'aglomerado' a numérico
df_total['aglomerado'] = pd.to_numeric(df_total['aglomerado'], errors='coerce')
df_filtrado_final = df_total[df_total['aglomerado'].isin([AGLOMERADO_1, AGLOMERADO_2])].copy()

print("✅ Paso 1.B: Filtrado de Aglomerados completado.")
print(f"Registros iniciales de {AGLOMERADO_1} y {AGLOMERADO_2}: {len(df_filtrado_final)}")
print("-" * 50)


# 2. CREACIÓN ROBUSTA DE INGRESO_HORARIO
# Paso 2.1: Limpiar y Forzar conversión a Numérico (FLOAT)

# Limpiamos espacios y convertimos a FLOAT. Esto resuelve el error TypeError 'int' and 'str'.
for col in ['p21', 'pp3e_tot']:
    # 1. Aseguramos que es texto y quitamos espacios (esencial para TXT)
    df_filtrado_final[col] = df_filtrado_final[col].astype(str).str.strip()
    # 2. Convertimos a numérico: si hay un error (no es número), pone NaN
    df_filtrado_final[col] = pd.to_numeric(df_filtrado_final[col], errors='coerce')


# Paso 2.2: Calcular Ingreso Horario
# Horas 0 se convierten a NaN para evitar la división por cero.
df_filtrado_final['pp3e_tot'] = df_filtrado_final['pp3e_tot'].replace(0, np.nan)
df_filtrado_final['INGRESO_HORARIO'] = df_filtrado_final['p21'] / df_filtrado_final['pp3e_tot']

print("✅ Creación de Ingreso Horario completada.")
print("-" * 50)
print("Tipos de datos de las variables clave (deben ser 'float64'):")
print(df_filtrado_final[['p21', 'pp3e_tot', 'INGRESO_HORARIO']].dtypes)


# 3. Filtrar solo a la población OCUPADA con ingresos válidos (ESTADO=1)
# Convertimos 'estado' a numérico
df_filtrado_final['estado'] = pd.to_numeric(df_filtrado_final['estado'], errors='coerce')

df_limpio_final = df_filtrado_final[
    (df_filtrado_final['estado'] == 1) &
    (df_filtrado_final['INGRESO_HORARIO'].notna()) &
    (df_filtrado_final['INGRESO_HORARIO'] > 0)
].copy()

print("\n✅ Limpieza Final (Filtro Ocupados con Ingreso Válido) completada.")
print(f"Total de registros limpios para el análisis de ingresos: {len(df_limpio_final)}")

✅ Paso 1.B: Filtrado de Aglomerados completado.
Registros iniciales de 34 y 12: 87062
--------------------------------------------------
✅ Creación de Ingreso Horario completada.
--------------------------------------------------
Tipos de datos de las variables clave (deben ser 'float64'):
p21                float64
pp3e_tot           float64
INGRESO_HORARIO    float64
dtype: object

✅ Limpieza Final (Filtro Ocupados con Ingreso Válido) completada.
Total de registros limpios para el análisis de ingresos: 25981